In [69]:
import pandas as pd
import numpy as np
import random
import datetime

Creating the cells and questions

In [70]:
cells = []
for x in range(1,7):
    cells.append('Cell %d' % x)

In [71]:
pairs = {}
for x in cells:
    questions = []
    for i in range((int(x[-1])*4)-3,(int(x[-1])*4)+1):
        questions.append('Question %d' % i)
    pairs[x] = questions

In [72]:
cell_df = pd.DataFrame(pairs).T.reset_index().rename(columns={'index': 'Cell.name'})
cell_df = cell_df.melt(id_vars=['Cell.name'], value_vars=cell_df.columns[1:], value_name='Question').drop(columns=['variable']).sort_values(by=['Cell.name','Question']).reset_index(drop=True)

In [73]:
cell_df.head(10)

  Cell.name     Question
0    Cell 1   Question 1
1    Cell 1   Question 2
2    Cell 1   Question 3
3    Cell 1   Question 4
4    Cell 2   Question 5
5    Cell 2   Question 6
6    Cell 2   Question 7
7    Cell 2   Question 8
8    Cell 3  Question 10
9    Cell 3  Question 11

In [74]:
users = list(range(1,1801))
random.shuffle(users)

In [75]:
demographics = {
    'reviewer_gender': {'categories': ['Man','Woman','Non-binary','Prefer not to say'],
                'weights': [0.48,0.48,0.02,0.02]},
    'reviewer_age': {'categories': ['18-24','25-34','35-44','45-54','55-64','65+','Prefer not to say'],
            'weights': [0.15,0.25,0.2,0.2,0.1,0.05,0.05]},
    'reviewer_ethnicity': {'categories': ['White','African/Black/Black British','S.Asian','SE.Asian','Mixed/Multiple','Other','Prefer not to say'],
                  'weights': [0.7,0.1,0.05,0.05,0.05,0.03,0.02]},
    'reviewer_religion': {'categories': ['Christian','Muslim','Hindu','Buddhist','Jewish','Sikh','None','Other','Prefer not to say'],
                 'weights': [0.4,0.2,0.1,0.05,0.02,0.02,0.1,0.05,0.06]},
    'reviewer_disability': {'categories': ['Yes','No','Prefer not to say'],
                   'weights': [0.1,0.85,0.05]},
    'reviewer_sexuality': {'categories': ['Heterosexual or straight','Gay','Lesbian','Bisexual','Asexual','Prefer not to say'],
                  'weights': [0.8,0.04,0.04,0.03,0.01,0.08]},
    'reviewer_mental_illness': {'categories': ['Yes','No','Prefer not to say'],
                        'weights': [0.1,0.85,0.05]},
}

In [76]:
def generate_demographics(user_list):
    user_demographics = {}
    for x in user_list:
        user_demographics[x] = {}
        for demographic, values in demographics.items():
            user_demographics[x][demographic] = np.random.choice(values['categories'], p=values['weights'])
    return user_demographics

In [77]:
user_demo = generate_demographics(users)

In [78]:
user_df = pd.DataFrame(user_demo).T.reset_index().rename(columns={'index': 'reviewer_id'})

In [79]:
def choose_reviewers(user_id,user_list):
    reviewers = np.random.choice([x for x in user_list if x != user_id],5,replace=False).tolist()
    reviewers.append(user_id)
    return reviewers

In [80]:
def create_surveys(n_surveys, users):
    surveys = {}
    random.shuffle(cells)
    for x in range(n_surveys):
        survey = {}
        cells_selected = np.array_split(cells, n_surveys)[x].tolist()
        survey['cells'] = cells_selected
        #survey['users'] = np.array_split(users, n_surveys)[x].tolist()
        survey['users'] = users
        surveys[x] = survey
    return surveys

In [81]:
def get_reviews(survey):
    reviews = {}
    for x in survey['users']:
        reviewers = choose_reviewers(x,survey['users'])
        reviews[x] = reviewers
    return reviews

In [82]:
def create_populations(n_pops,n_surveys,user_list):
    population_users = {}
    for x in range(n_pops):
        population_users[x] = np.array_split(user_list, n_pops)[x].tolist()
    population_surveys = {}
    for x in range(n_pops):
        population_surveys[x] = create_surveys(n_surveys, population_users[x])
    for x in population_surveys:
        for y in population_surveys[x]:
            population_surveys[x][y]['reviews'] = get_reviews(population_surveys[x][y])
            population_surveys[x][y].pop('users')
            survey_id = x*n_surveys + y
            population_surveys[x][survey_id] = population_surveys[x].pop(y)
            
        
        
    return population_surveys

In [83]:
def random_date(start,end):
    delta = end - start
    delta_in_second = delta.total_seconds()
    random_second = random.randrange(int(delta_in_second))
    return start + datetime.timedelta(seconds=random_second)

In [84]:
start = datetime.datetime(2020,1,1)
end = datetime.datetime(2024,12,31)

In [85]:
def relationship(user,reviewer):
    if user == reviewer:
        return 'self'
    else:
        return np.random.choice(['other','manager'],p=[0.75,0.25])

In [86]:
def org_to_dataframe(org):
    row = []
    report_review_id = 0
    review_id = 0
    for x in org:
        pop_id = x
        for y in org[x]:
            survey_id = y
            created_at = random_date(start,end)
            for z in org[x][y]['cells']:
                cells = z
                for a in org[x][y]['reviews']:
                    user_id = a
                    for b in org[x][y]['reviews'][a]:
                        reviewers = b
                        relationshiptouser = relationship(a,b)
                        row.append([report_review_id,review_id,created_at,pop_id,
                                    survey_id,user_id,reviewers,relationshiptouser,cells])
                        report_review_id += 1
                    review_id += 1
    df = pd.DataFrame(row, columns=['report_review.id','review.id','created_at','PopID',
                                    'survey_id','user_id','reviewer_id','Relationshiptouser',
                                    'Cell.name'])
    return df

In [87]:
users[:600]

[870,
 1295,
 506,
 490,
 1792,
 1736,
 894,
 350,
 820,
 743,
 730,
 614,
 902,
 1280,
 545,
 1331,
 90,
 756,
 412,
 118,
 379,
 1615,
 586,
 1686,
 1248,
 313,
 702,
 563,
 148,
 121,
 6,
 767,
 1443,
 1227,
 361,
 512,
 1368,
 1094,
 513,
 888,
 793,
 523,
 1678,
 255,
 1014,
 76,
 1545,
 634,
 1531,
 1726,
 1600,
 1049,
 1543,
 314,
 1041,
 229,
 623,
 1597,
 1722,
 1081,
 326,
 1312,
 1743,
 850,
 761,
 847,
 413,
 1463,
 1399,
 136,
 464,
 963,
 985,
 194,
 359,
 105,
 1430,
 893,
 618,
 588,
 1159,
 1727,
 912,
 632,
 1029,
 402,
 1055,
 1657,
 907,
 1473,
 489,
 1721,
 615,
 407,
 1481,
 992,
 549,
 347,
 493,
 322,
 1195,
 1763,
 1759,
 1025,
 786,
 957,
 1523,
 1788,
 773,
 271,
 1256,
 378,
 364,
 1775,
 1270,
 1717,
 425,
 622,
 991,
 510,
 1098,
 897,
 380,
 1277,
 1037,
 499,
 517,
 311,
 1445,
 908,
 566,
 95,
 15,
 66,
 788,
 247,
 824,
 257,
 1689,
 1791,
 746,
 1254,
 641,
 13,
 683,
 1755,
 1382,
 418,
 1327,
 243,
 529,
 713,
 878,
 1235,
 1487,
 204,
 1169,
 1112,
 1212,
 871,
 1255,
 764,
 826,
 1416,
 1557,
 679,
 1571,
 1092,
 196,
 922,
 421,
 1529,
 1203,
 1164,
 1064,
 1088,
 427,
 1495,
 1483,
 815,
 1771,
 573,
 262,
 452,
 1581,
 672,
 1130,
 356,
 428,
 1231,
 1553,
 1218,
 63,
 768,
 1110,
 1787,
 1415,
 1333,
 959,
 918,
 967,
 1719,
 1276,
 958,
 328,
 1251,
 1622,
 232,
 1300,
 1661,
 241,
 1576,
 777,
 546,
 1410,
 995,
 1677,
 643,
 1113,
 1135,
 278,
 928,
 1384,
 1390,
 1325,
 172,
 1704,
 149,
 916,
 636,
 129,
 1496,
 1109,
 242,
 944,
 1789,
 88,
 1126,
 275,
 737,
 1294,
 387,
 728,
 1213,
 59,
 816,
 1437,
 91,
 910,
 846,
 430,
 1626,
 1223,
 330,
 707,
 576,
 610,
 848,
 4,
 1388,
 348,
 1569,
 1106,
 663,
 1401,
 700,
 537,
 41,
 1281,
 542,
 1188,
 680,
 158,
 653,
 443,
 1376,
 808,
 53,
 44,
 52,
 1079,
 887,
 811,
 1660,
 329,
 1238,
 1632,
 502,
 984,
 1122,
 658,
 1674,
 1448,
 119,
 295,
 954,
 1462,
 1560,
 567,
 1544,
 1451,
 1397,
 124,
 1404,
 568,
 1347,
 1687,
 389,
 482,
 1124,
 1760,
 1180,
 544,
 799,
 54,
 965,
 594,
 1783,
 1740,
 724,
 1175,
 1085,
 1673,
 1418,
 1624,
 1702,
 1173,
 1458,
 690,
 460,
 1056,
 433,
 797,
 1493,
 26,
 625,
 1355,
 895,
 1054,
 147,
 1316,
 1102,
 357,
 1617,
 299,
 1087,
 924,
 1749,
 72,
 677,
 215,
 126,
 304,
 80,
 106,
 296,
 1642,
 1710,
 1492,
 950,
 1389,
 249,
 570,
 1199,
 593,
 388,
 748,
 333,
 1636,
 161,
 400,
 1444,
 1239,
 1334,
 86,
 1021,
 927,
 1162,
 1393,
 220,
 1653,
 676,
 1403,
 190,
 1461,
 732,
 1409,
 463,
 393,
 1504,
 1361,
 1432,
 285,
 642,
 525,
 71,
 1385,
 1611,
 998,
 1395,
 343,
 521,
 1516,
 503,
 866,
 144,
 552,
 1372,
 1057,
 535,
 28,
 656,
 1582,
 720,
 579,
 33,
 1540,
 1052,
 492,
 1104,
 1296,
 415,
 1514,
 1436,
 1039,
 951,
 718,
 77,
 1229,
 193,
 1158,
 1549,
 1658,
 457,
 141,
 150,
 163,
 440,
 21,
 396,
 459,
 645,
 564,
 486,
 1732,
 735,
 1100,
 1620,
 507,
 376,
 1179,
 875,
 819,
 987,
 536,
 990,
 1125,
 691,
 268,
 1267,
 1573,
 159,
 1745,
 919,
 852,
 726,
 75,
 1322,
 1091,
 19,
 274,
 25,
 1670,
 898,
 1338,
 1342,
 1750,
 806,
 1776,
 1738,
 93,
 470,
 324,
 302,
 1012,
 1695,
 170,
 217,
 1527,
 165,
 762,
 621,
 1348,
 207,
 1028,
 1797,
 608,
 1467,
 869,
 909,
 750,
 1197,
 135,
 414,
 901,
 1612,
 375,
 57,
 930,
 1470,
 1730,
 182,
 1396,
 301,
 1465,
 738,
 50,
 358,
 1191,
 211,
 1066,
 1096,
 325,
 1591,
 1045,
 794,
 587,
 1525,
 709,
 1371,
 277,
 804,
 146,
 1494,
 411,
 716,
 1035,
 1486,
 704,
 1140,
 1621,
 1208,
 236,
 436,
 305,
 37,
 345,
 178,
 308,
 1774,
 569,
 1269,
 1715,
 466,
 176,
 813,
 1659,
 1489,
 82,
 495,
 1015,
 1536,
 733,
 371,
 1477,
 1669,
 697,
 133,
 101,
 698,
 880,
 981,
 717,
 831,
 1115,
 1210,
 109,
 934,
 51,
 1698,
 657,
 1244,
 678,
 1699,
 1201,
 477,
 651,
 416,
 647,
 1506,
 706,
 192,
 782,
 1407,
 1000,
 391,
 1011,
 221,
 911,
 948]

In [88]:
def get_score(relationship):
    if relationship == 'manager':
        return np.random.choice(range(11), p=[0.01, 0.02, 0.03, 0.04, 0.05, 0.08, 0.11, 0.12, 0.2, 0.24, 0.1])
    elif relationship == 'other':
        return np.random.choice(range(11), p=[0.01, 0.02, 0.03, 0.05, 0.07, 0.1, 0.13, 0.15, 0.25, 0.14, 0.05])
    else:
        return np.random.choice(range(11))

In [89]:
id_list = ['PopID','survey_id','report_review.id','review.id']

In [90]:
start_dict ={
    'PopID': 0,
    'survey_id': 0,
    'report_review.id': 0,
    'review.id': 0
}

In [91]:
def create_organisation(n_pops,n_surveys,users,org_id):
    org = create_populations(n_pops,n_surveys,users)
    org_df = org_to_dataframe(org)
    org_df = pd.merge(org_df,cell_df,on=['Cell.name'])
    org_df['original_value'] = org_df['Relationshiptouser'].apply(lambda x: get_score(x))
    org_df = pd.merge(org_df,user_df,on='reviewer_id')
    org_df.sort_values(by='report_review.id', inplace=True)
    org_df['OrgID'] = org_id
    for x in id_list:
        org_df[x] = org_df[x] + start_dict[x]
        start_dict[x] = org_df[x].max() + 1

    return org_df

In [92]:
org1 = create_organisation(3,3,users[:600],1)
start_dict

{'PopID': 3, 'survey_id': 9, 'report_review.id': 21600, 'review.id': 3600}

In [93]:
org2 = create_organisation(3,3,users[601:1200],2)
start_dict

{'PopID': 6, 'survey_id': 18, 'report_review.id': 43164, 'review.id': 7194}

In [94]:
org3 = create_organisation(3,3,users[1201:],3)
start_dict

{'PopID': 9, 'survey_id': 27, 'report_review.id': 64728, 'review.id': 10788}

In [95]:
df = pd.concat([org1,org2,org3],ignore_index=True)

In [96]:
df['created_at'] = df['created_at'].apply(lambda x: random_date(x-datetime.timedelta(days=14),x))
df['deadline'] = df['created_at'].apply(lambda x: x + datetime.timedelta(days=14))

In [97]:
df.head()

,report_review.id,review.id,created_at,PopID,survey_id,user_id,reviewer_id,Relationshiptouser,Cell.name,Question,original_value,reviewer_gender,reviewer_age,reviewer_ethnicity,reviewer_religion,reviewer_disability,reviewer_sexuality,reviewer_mental_illness,OrgID,deadline
0,0,0,2020-08-31 11:59:14,0,0,870,1722,other,Cell 5,Question 17,10,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-14 11:59:14
1,0,0,2020-09-03 13:11:26,0,0,870,1722,other,Cell 5,Question 18,9,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-17 13:11:26
2,0,0,2020-08-27 08:44:11,0,0,870,1722,other,Cell 5,Question 19,8,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-10 08:44:11
3,0,0,2020-08-26 18:46:01,0,0,870,1722,other,Cell 5,Question 20,8,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-09 18:46:01
4,1,0,2020-08-23 20:02:10,0,0,870,1759,other,Cell 5,Question 19,4,Man,25-34,White,Christian,Prefer not to say,Prefer not to say,No,1,2020-09-06 20:02:10

In [98]:
# Add patterns to the synthetic dataset

# 1. PopID/OrgID trend: Each PopID and OrgID gets a base adjustment
popid_trend = {pop: np.random.uniform(-1, 1) for pop in df['PopID'].unique()}
orgid_trend = {org: np.random.uniform(-1, 1) for org in df['OrgID'].unique()}

# 2. Cell.name and Question effect: Each cell and question gets a small adjustment
cell_effect = {cell: np.random.uniform(-1, 1) for cell in df['Cell.name'].unique()}

question_effect = {question: np.random.normal(0,0.5) for question in df['Question'].unique()}

# 3. Demographic effects (example: gender, age, ethnicity)
gender_effect = {
    'Man': 1.0,
    'Woman': 0.0,
    'Non-binary': -1.0,
    'Prefer not to say': 0.5
}
age_effect = {
    '18-24': -0.5,
    '25-34': 0.0,
    '35-44': 0.5,
    '45-54': 1.0,
    '55-64': 0.5,
    '65+': -0.5,
    'Prefer not to say': 0.0
}
ethnicity_effect = {
    'White': 0.5,
    'African/Black/Black British': -1.0,
    'S.Asian': 0.2,
    'SE.Asian': 0.2,
    'Mixed/Multiple': -0.2,
    'Other': -0.5,
    'Prefer not to say': 0.0
}

# 4. Apply all effects to create a new score column
def add_pattern(row):
    score = row['original_value']
    score += popid_trend[row['PopID']]
    score += orgid_trend[row['OrgID']]
    score += cell_effect[row['Cell.name']]
    score += question_effect[row['Question']]
    score += gender_effect.get(row['reviewer_gender'], 0)
    score += age_effect.get(row['reviewer_age'], 0)
    score += ethnicity_effect.get(row['reviewer_ethnicity'], 0)
    # Add some noise
    score += np.random.normal(0, 0.5)
    # Clamp to 0-10 and round
    return int(np.clip(round(score), 0, 10))


df['original_value'] = df.apply(add_pattern, axis=1)

In [99]:
df.head()

,report_review.id,review.id,created_at,PopID,survey_id,user_id,reviewer_id,Relationshiptouser,Cell.name,Question,original_value,reviewer_gender,reviewer_age,reviewer_ethnicity,reviewer_religion,reviewer_disability,reviewer_sexuality,reviewer_mental_illness,OrgID,deadline
0,0,0,2020-08-31 11:59:14,0,0,870,1722,other,Cell 5,Question 17,10,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-14 11:59:14
1,0,0,2020-09-03 13:11:26,0,0,870,1722,other,Cell 5,Question 18,10,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-17 13:11:26
2,0,0,2020-08-27 08:44:11,0,0,870,1722,other,Cell 5,Question 19,10,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-10 08:44:11
3,0,0,2020-08-26 18:46:01,0,0,870,1722,other,Cell 5,Question 20,10,Man,55-64,White,Christian,No,Heterosexual or straight,No,1,2020-09-09 18:46:01
4,1,0,2020-08-23 20:02:10,0,0,870,1759,other,Cell 5,Question 19,9,Man,25-34,White,Christian,Prefer not to say,Prefer not to say,No,1,2020-09-06 20:02:10

In [101]:
df.groupby(['OrgID','PopID','Cell.name','Question']).agg({'original_value': ['mean','std']})

                                  original_value
                                            mean       std
OrgID PopID Cell.name Question
1     0     Cell 1    Question 1        8.535833  2.077815
                      Question 2        8.806667  1.874980
                      Question 3        8.450000  2.123187
                      Question 4        8.403333  2.114091
            Cell 2    Question 5        7.435000  2.490169
...                                          ...       ...
3     8     Cell 5    Question 20       7.975712  2.313323
            Cell 6    Question 21       7.575377  2.511619
                      Question 22       7.443886  2.457133
                      Question 23       6.781407  2.684897
                      Question 24       7.077889  2.537523

[216 rows x 2 columns]

In [102]:
df.to_csv('data/sample.csv',index=False)